body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a099cc;
}

.game {
    height: 90vh;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5f5ff;
    border-radius: 30px;
}

.scene {
    position: relative;
    width: 95%;
    height: 70%;
    transition: background 0.9s ease;
    border-radius: 5px;
}

.scene.light {
    background: #cfb8ef;
}

.scene.dark {
    background: #2b164d;
}

.pixel {
    image-rendering: pixelated;
}

.cat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(16% * 2);
}

.lamp {
    position: absolute;
    top: 4%;
    right: 1%;
    width: calc(27% * 1.3);
}

.lamp-hitbox {
    position: absolute;
    top: 10%;
    right: 6%;
    width: calc(19% * 1.3);
    height: calc(25% * 1.3);
    cursor: pointer;
}

.lamp-hitbox-2 {
    position: absolute;
    top: 42%;
    right: 17%;
    width: calc(3% * 1.3);
    height: calc(20% * 1.3);
    cursor: pointer;
}